*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
:root{
    --bl--eu:rgb(10, 12, 66);
}
main{
    background-image: url(img/backdec.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.Girl-background img{
    position: relative;
    right: 60px;
    height: 800px;
    z-index: 0;
}
header{
    padding: 20px;
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-around;   
}
.LOGO{
    font-family: Poppins , sans-serif;
    font-weight: 600;
    font-size: 35px;
}
header a{
    color: black;
    padding: 0 10px;
}
.navelements{
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: poppins , sans-serif;
    font-weight: 500;
    opacity: 80%;
    padding: 10px 0;
    button{
        background-color: transparent;
        width: 100px;
        height: 40px;
        border-radius: 7px;
    }
}
.navelements a:hover{
    transform: scale(1.2);
}
.mainn{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-bottom: 20px;
    background-color: transparent;
    
}
.home{
    position: relative;
    left: 100px;
    display: flex;
    flex-direction:column ;
    top: 120px;
    left: 100px;
    width: 500px;
    height: 650px;
    background-color: transparent;
    
}
.coment{
    color: rgba(232, 113, 15, 0.935);
    width: 380px;
    font-size: 17px;
    font-family: Poppins , sans-serif;
}
.home h1{
    position: relative;
    padding: 40px 0;
    font-size: 65px;
    width: 550px;
    font-family: volkhov;
    color: var(--bl--eu);
    line-height: 70px;
    font-weight: bold;
    opacity: 95%;

}
.home h1 img{
    position: absolute;
    left: 220px;
    bottom: 180px;
    z-index: -1;
}
.home p{
    width: 500px;
    font-size: 13px;
    padding: 50px 0;
    font-family: 'Poppins' , sans-serif;
    opacity: 75%;
    color: var(--bl--eu);
    font-weight: 470;
}
.buttons{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 500px;
}
.bt1{
    font-size: 18px;
    width: 160px;
    height: 60px;
    border-radius: 9px;
    border: none;
    background-color: #FF5722;
    a{
        color: white;
    }
}   
.bt2{
    font-size: 18px;
    justify-content: center;
    width: 56px;
    height: 58px;
    border-radius: 50%;
    border: none;
    color: black;
    background-color: #FF5722;
    a{
        color: white;
    }
}
.button1{
    padding-right: 40px;
    font-family:Popping , sans-serif;
}
.button2 span{
   padding-left: 40px;
    font-size: 16px;
    font-family:Popping , sans-serif;
    opacity: 60%;
}
.bt1:hover{
    transform: scale(1.2);
}
.bt2:hover{
    transform: scale(1.2);
}
.category{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 800px;
    height: 400px;
    margin-bottom: 40px;
}
.titlecat{
    justify-items: center;  
    height: 80px;
    font-size: 10px;
    h5{
        font-family: poppins , sans-serif;
        opacity: 70%;
        font-size: 12px;
        font-weight:4700;
        padding: 10px 0;
        
    }
    h1{
        color: var(--bl--eu);
        font-family: volkhov;
        font-size: 30px;
    }
}
.centre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}
.centre img{
    justify-content: center;
    justify-self: center;
    width: 70px;
}
.first{
    position: relative;
    width: 170px;
    height: 220px;
    border-radius: 30px;
    background-color: white;

}
.first::after{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #ff3c00;
    content: "";
    z-index: -1 ;
    border-radius:10px 0 10px 0;
    transition: 0.3s;
}
.first:hover{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.060);

}
.first:hover::after{
    bottom: -20px;
    left: -20px;
}
.fr{
    position: relative;
    left: 25%;
    top: 30px;
    height: 110px;
    width: 110px;
}
.textfr{
    padding: 0 10px;
    display: flex;
    justify-content: cetre;
    flex-direction: column;
    h4{
        font-family: poppins , sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
    p{
        font-family: poppins , sans-serif;
        font-size: 12px;
        opacity: 70%;
        line-height: 16px;
        text-align: center;
    }
}
.logos{
    align-items: center;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 1200px;
    .a{
        height: 40px;
    }
    .b{
        height: 40px;
    }
    .c{
        height: 50px;
    }
    .d{
        height: 40px;
    }
    .e{
        height: 40px;
    }
    img{
        border-radius: 7px;
    }
    img:hover{
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
        transform: scale(1.1);
    }
}
.footer{
    display: flex;
    justify-self: center;
    justify-content: space-around;
    width: 1200px;
    position: relative;
    left: 100px;
    margin-top: 85px;
    margin-bottom: 50px;
    font-family: poppins , sans-serif;
    .titles{
        display: flex;
        flex-direction: column;
        width: 200px;
        
        h1{
            font-size: 30px;
            font-weight: 500;
            padding-bottom: 15px;
            opacity: 90%;
        }
        p{
            font-size: 12px;
            font-weight: 500;
            opacity: 70%;
        }
    }

    .card{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 15px;
            opacity: 90%;
        }
        a{
            padding: 5px;
            font-size: 15px;
            font-weight: 500;
            opacity: 70%;
        }
    }
    .social{
        display: flex;
        flex-direction: column;
        width: px;
        
        .icons{
            display: flex;
            justify-content: centre;
            margin-bottom: 20px;
            text-align: center;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                width: 40px;
                height: 40px; 
                border-radius: 50%;
                color: black;
            }
        }
        p{
            font-size: 15px;
            font-weight: 500;
            opacity: 70%;
            margin-bottom: 20px;
        }
        .apps{
            display: flex;
            justify-content: space-between;
            color: white;
            .playstore{
                padding: 0 5px;
                display: flex;
                background-color: black;
                border-radius: 50px;
                height: 40px;
                width: 130px;
                margin-right: 30px;
                img{
                display: flex;
                padding-top: 4px;
                height: 30px;
                }
                .textplay{
                    color: white;
                    padding-left: 10px;
                    h5{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
            .appstore{
                padding: 0 5px;
                display: flex;
                background-color: black;
                border-radius: 50px;
                height: 40px;
                width: 130px;
                img{
                    padding-top: 4px;
                    height: 30px;
                }
                .textstore{
                    color: white;
                    padding-left: 10px;
                    h5{
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .fotback{
    position: absolute;
    right: -500px;
    bottom: -400px;
    border-radius: 50%;
    filter: blur(20px);
    z-index: -1;
    overflow: hidden;
    }
    a{
        color: black;
    }
    a:hover{
        transform: scale(1.1);
    }
}
.top{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50%;
    padding-bottom: 30px;
    img{
        height: 300px;
        width: 200px;
    }
    .titledes{
        justify-items: center;  
        height: 80px;
        font-size: 10px;
        margin-bottom: 30px;
        h5{
            font-family: poppins , sans-serif;
            opacity: 70%;
            font-size: 12px;
            font-weight:4700;
            padding: 10px 0;
            
        }
        h1{
            color: var(--bl--eu);
            font-family: volkhov;
            font-size: 30px;
        }
    }
    .pictures{
        font-family: poppins , sans-serif;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        gap: 30px;
        .pic{
            border-radius: 15px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.671);
            display: flex;
            flex-direction: column;
            position: relative;
            .text{
                position: absolute;
                left: 0px;
                bottom: 0px;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 30%;
                background-color: white;
                border-radius: 0 0 10px 10px ;
                span{ 
                    opacity: 70%;
                }
                .text1{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 20px;
                }
                .text2{
                    #locapic{
                    width: 15px;
                    height: 15px;
                    padding-left: 10px;
                    }
                    padding : 10px 0;
                    
                }
            }
            
        }
    }
}
.pic:hover{
    transform: scale(1.1);
}
.bigsecpic{
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 1200px;
    img{
        height: 380px;
        width: 250px;
    }
    .pictures{
        font-family: poppins , sans-serif;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 50px;
        .pic{
            border-radius: 15px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.671);
            display: flex;
            flex-direction: column;
            position: relative;
            .text{
                position: absolute;
                left: 0px;
                bottom: 0px;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 30%;
                background-color: white;
                border-radius: 0 0 10px 10px ;
                span{ 
                    opacity: 70%;
                }
                .text1{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 20px;
                }
                .text2{
                    #locapic{
                    width: 15px;
                    height: 15px;
                    padding-left: 10px;
                    }
                    padding : 10px 0;
                }
            }
            
        }
    }
}
.book{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 60%;
    .right{
        margin-right: 30px;
        width: 70%;
        .titledes{
            justify-items: start;  
            width: 80%;
            font-size: 10px;
            margin-bottom: 30px;
            h5{
                font-family: poppins , sans-serif;
                opacity: 70%;
                font-size: 12px;
                font-weight:4700;
                padding: 10px 0;
                
            }
            h1{
                color: var(--bl--eu);
                font-family: volkhov;
                font-size: 40px;
            }
        }
        .para{
            display: flex;
            flex-direction: column;
            .parag{
                display: flex;
                .paratext{
                    opacity: 80%;
                    font-family: poppins , sans-serif;
                    font-size: 15px;
                    h4{
                        padding-left: 20px;
                    }
                    p{
                        padding-left: 20px;
                        font-family: poppins , sans-serif;
                        font-size: 12px;
                        
                    }
                }
            }
            img{
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                width: 40px;
                height: 40px;
                margin-top: 10px;
            }
        }
    }
    .left{
        position: relative;
        width: 35%;
        .pic{
            border-radius: 15px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.671);
            display: flex;
            flex-direction: column;
            position: relative;
            .text{
                position: absolute;
                left: 0px;
                bottom: 0px;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 30%;
                background-color: white;
                border-radius: 0 0 10px 10px ;
                span{ 
                    opacity: 70%;
                }
                .text1{
                    font-family: poppins , sans-serif;
                    font-size: 10px;
                    font-weight: 500;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 20px;
                }
                .text2{
                    font-family: poppins , sans-serif;
                    font-size: 10px;
                    font-weight: 500;
                    #locapic{
                    width: 15px;
                    height: 15px;
                    padding-left: 10px;
                    }
                    padding : 10px 0;
                }
            }
            
        }
        img{
            width: 150px;        
        }
        .img1{
            position: absolute;
            top: 100px;
            left: 0;
            
        }
        .img2{
            position: absolute;
            bottom: -80px;
            right: 70px;
        }
    }
    .parag:hover{
        transform: scale(1.1);
    }
    
}
.left::after{
    position: absolute;
    content:"";
    width: 150px;
    height: 150px;
    background-image: url("img/bleucircel.png");
    background-position: center;
    filter: blur(50px);
    z-index: -1;
    opacity: 50%;
    top: 80px;
    left: 60px;
    border-radius: 50%;
}
.whoarwe{
    box-shadow: 10px 10px 30px black;
    margin-top: 50px;
    border: solid;
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-self: center;
    font-family: poppins , sans-serif;
    border-radius: 50px;
    h1{
        font-family: volkhov;
        font-weight: 100;
        display: flex;
        justify-content: center;
        font-size: 70px;
        padding-bottom:50px ;
        color: var(--bl--eu);
        text-shadow: 10px 10px 20px black;
    }
    p{
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom:30px ;
    }
}
.pictxt{
    justify-content: space-between;
    font-family: poppins , sans-serif;
    justify-self: center;
    margin: 150px 0;
    width: 80%;
    display: flex;
    img{
        width: 60%;
        align-content: center;
   }
   p{font-family: poppins , sans-serif;
    padding: 10px;
    border: solid;
    font-size: 20px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;

   }
}
.title{
    justify-self: center;
    width: 60%;
    h1{
        font-family: volkhov;
        font-weight: 100;
        display: flex;
        justify-content: center;
        font-size: 70px;
        padding-bottom:50px ;
        color: var(--bl--eu);
        text-shadow: 10px 10px 20px black;
    }
    p{
        font-family: poppins , sans-serif;
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom:30px ;
    }
}
.contact{
    justify-self: center;
    height: 37rem;
    width: 65rem;
    display: grid;
    background-color: #F2F2F2;
    border-radius: 40px 0 0 40px;
    grid-template-columns: 25rem 40rem;
    .rightinfo{
        overflow: hidden;
        position: relative;
        background-color: #fff1daa0;
        display: grid;
        border-radius: 40px;
        grid-template-rows: 6rem;
        .rr1{
            display: flex;
            padding-left: 3rem;
            align-items: center;
            font-family: volkhov;
            color: var(--bl--eu);
            font-size: 25px;

        }
        .rr2{
            display: grid;
            grid-template-columns: 8rem 25rem;
        }
        .rr3{
            display: grid;
            grid-template-columns: 8rem 25rem;
        }
        .rr4{
            display: grid;
            grid-template-columns: 8rem 25rem;
        }
        .imagcon{
            z-index: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 1rem;

        }
        .textcon{
            line-height: 3rem;
            z-index: 1;
            font-family: poppins , sans-serif;
            font-size: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;
        }
    }
    .rightinfo::after{
        position: absolute;
        width: 300px;
        height: 300px;
        bottom: -100px;
        right: -100px;
        content: "";
        filter: blur(100px);
        border-radius: 50%;
        background-color: rgba(128, 0, 128, 0.47);
    }
    .leftform{
        font-family: poppins , sans-serif;
        .form{
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 25% 25% 35% 15%;
            grid-template-columns: repeat(2 , 1fr);
            .name{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                grid-column: 1/2;
                padding-left: 40px;
                input{
                    font-size: 20px;
                    background-color: transparent;
                    border: none;
                    border-bottom: solid;
                    height: 30px;
                }
            }
            .prenom{
                font-size: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                grid-column: 2/3;
                padding-left: 40px;
                input{
                    font-size: 20px;
                    background-color: transparent;  
                    border: none;
                    border-bottom: solid;
                    height: 30px;
                }
            }
            .email{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                grid-column: 1/3;
                padding-left: 40px;
                padding-right: 40px;
                input{
                    font-size: 20px;
                    background-color: transparent;  
                    border: none;
                    border-bottom: solid;
                    height: 30px;
                }
            }
            .message{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                grid-column: 1/3;
                padding-left: 40px;
                padding-right: 40px;
                textarea{
                    font-size: 20px;
                    height: 150px;
                    background-color: transparent;
                    border: none;
                    border-bottom: solid;
                    resize: none;
                }
            }
            .submit{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 40px;
                input{
                    border-radius: 10px;
                    font-family: pippins , sans-serif;
                    font-size: large;
                    font-weight: 700;
                    color: white;
                    background-color: rgba(0, 0, 255, 0.432);
                    width: 12rem;
                    height: 3rem;
                }
            }
        }

    }
    
}
